###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Package Manager Dependency resolvers #
########################################

go.resolveDependencies=false
#go.collectDependenciesAtRuntime=true
#go.dependencyManager=
#go.ignoreSourceFiles=true
#go.glide.ignoreTestPackages=false
#go.gogradle.enableTaskAlias=true

#go.modules.resolveDependencies=true
#go.modules.ignoreSourceFiles=false
#go.modules.removeDuplicateDependencies=false
#go.modules.includeTestDependecies=true
